@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translateX(10PX);
            transform: translateX(10PX);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translateX(10PX);
            transform: translateX(10PX);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  80% {
    -webkit-transform: translateX(10PX);
            transform: translateX(10PX);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  80% {
    -webkit-transform: translateX(10PX);
            transform: translateX(10PX);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 10px;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'lato';
  font-weight: 400;
  line-height: 1.7;
  color: #777;
}

.heading-primary {
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 6rem;
  color: #fff;
}

.heading-primary-main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.heading-primary-sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.5rem;
  -webkit-animation-name: moveInRight;
          animation-name: moveInRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  letter-spacing: 2px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.heading-secondary:hover {
  -webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);
          transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-top-big {
  margin-top: 8rem;
}

.bg__video {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .5;
  overflow: hidden;
}

.bg__video-content {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn:link, .btn:visited, .btn {
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  -webkit-transform: scale(1.4) scaleY(1.6);
          transform: scale(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn-white::after {
  background-color: #fff;
}

.btn-green {
  background-color: #28b485;
  color: #fff;
}

.btn-green::after {
  background-color: #28b485;
}

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.btn-animated {
  -webkit-animation: moveInBottom .5s ease-out .75s;
          animation: moveInBottom .5s ease-out .75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #28b485;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #28b485;
  padding: 3px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn-text:hover {
  background-color: #28b485;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn-text:hover:active {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  position: relative;
  height: 52rem;
}

.card__side {
  position: absolute;
  top: 0;
  overflow: hidden;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  width: 100%;
  height: 52rem;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card__side-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7330));
  background-image: linear-gradient(to right bottom, #ffb900, #ff7330);
}

.card__side-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.card__side-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa));
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.card__side-front {
  background-color: #fff;
}

.card__side-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card:hover .card__side-front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card:hover .card__side-back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.card:hover .card__side-back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0, 0 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card__picture-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.8)), to(rgba(255, 115, 48, 0.8))), url(../img/nat-5.jpg);
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 115, 48, 0.8)), url(../img/nat-5.jpg);
}

.card__picture-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url(../img/nat-6.jpg);
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-6.jpg);
}

.card__picture-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 152, 255, 0.8)), to(rgba(86, 67, 250, 0.8))), url(../img/nat-7.jpg);
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)), url(../img/nat-7.jpg);
}

.card-heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
}

.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-direction-break: clone;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
}

.card__heading-span-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.8)), to(rgba(255, 115, 48, 0.8)));
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 115, 48, 0.8));
}

.card__heading-span-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8)));
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
}

.card__heading-span-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 152, 255, 0.8)), to(rgba(86, 67, 250, 0.8)));
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8));
}

.card-details {
  padding: 3rem;
}

.card-details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.card-details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.card-details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.card__price-box {
  color: #fff;
  text-align: center;
  margin-bottom: 8rem;
}

.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.card__price-value {
  font-size: 6rem;
  font-weight: 100;
}

.composition {
  position: relative;
}

.composition__photo {
  width: 55%;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  z-index: 10;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.composition__photo-p1 {
  top: -2rem;
  left: 0;
}

.composition__photo:hover {
  outline: 1.5rem solid #28b485;
  -webkit-transform: scale(1.05) translateY(-5rem);
          transform: scale(1.05) translateY(-5rem);
  -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
  outline-offset: 2rem;
}

.composition__photo:hover .composition__photo__photo:not(:hover) {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.composition__photo-p2 {
  right: 0;
  top: 2rem;
}

.composition__photo-p3 {
  left: 20%;
  top: 10rem;
}

.feature-box {
  background-color: #fff;
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem black;
          box-shadow: 0 1.5rem 4rem black;
}

.feature-box__icon {
  font-size: 6rem;
  margin-bottom: .5rem;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.feature-box:hover {
  -webkit-transform: translateY(-1.5rem) scale(1.03);
          transform: translateY(-1.5rem) scale(1.03);
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}

.form__input {
  font-family: inherit;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  color: inherit;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.form__input:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #28b485;
}

.form__input:focus:invalid {
  border-bottom: 3px solid #ff7330;
}

.form__input::-webkit-input-placeholder {
  color: #999;
}

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
}

.story {
  width: 75%;
  margin: 0 auto;
  -webkit-box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  -webkit-transform: skewX(-12deg);
          transform: skewX(-12deg);
  background-color: rgba(255, 255, 255, 0.6);
  margin-top: 6rem;
}

.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  -web-clip-path: circle(50% at 50% 50%);
  -webkit-transform: skewX(12deg) translateX(-3rem);
          transform: skewX(12deg) translateX(-3rem);
  position: relative;
}

.story__img {
  height: 100%;
  -webkit-transform: translate(-4rem) scale(1.4);
          transform: translate(-4rem) scale(1.4);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.story:hover .story__img {
  -webkit-transform: translateX(-4rem) scale(1);
          transform: translateX(-4rem) scale(1);
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -20%);
          transform: translate(-50%, -20%);
  color: #fff;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.story:hover .story__caption {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.story__text {
  -webkit-transform: skewX(12deg);
          transform: skewX(12deg);
}

.row {
  width: 114rem;
  margin: 0 auto;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row .col-1-of-2 {
  width: calc((100% - 8rem) / 2);
  height: 50rem;
  padding-top: 1rem;
  float: left;
  font-size: 1.6rem;
}

.row .col-1-of-2:not(:last-child) {
  margin-right: 8rem;
}

.row {
  width: 114rem;
  margin: 0 auto;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 8rem) / 4);
  height: 50rem;
  padding-top: 1rem;
  float: left;
  font-size: 1.6rem;
}

.row .col-1-of-4:not(:last-child) {
  margin-right: 8rem;
}

.row {
  width: 114rem;
  margin: 0 auto;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 8rem) / 3);
  height: 50rem;
  padding-top: 1rem;
  float: left;
  font-size: 1.6rem;
}

.row .col-1-of-3:not(:last-child) {
  margin-right: 8rem;
}

.header {
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url("../img/hero.jpg");
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.header-logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header-logo {
  height: 4.5rem;
}

.header-text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url("../img/nat-4.jpg");
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg");
  background-size: cover;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
  margin-top: -10rem;
}

.section-features > * {
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-left: -20vh;
}

.section-stories {
  padding: 15rem 0;
  position: relative;
}

.section-book {
  padding: 15rem 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: 100%;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  height: 50rem;
}

.book__form {
  width: 50%;
  padding: 6rem;
}
/*# sourceMappingURL=main.css.map */