.footer{
    background-color:$color-gary-dark-3;
    padding: 10rem 0;
    font-size: 1.4rem;
    color: $color-gary-light-1;

    @include respond(tablet-port){
        padding: 8rem 0;
    }

    &__logo-box{
        text-align: center;
        margin-bottom: 8rem;

        @include respond(tablet-port){
            margin-bottom: 6rem;
        }
    }

    &__logo{
        width: 15rem;
        height: auto;
    }
    &__list{
        list-style: none;
    }
    &__item{
        display: inline-block;
        &:not(:last-child){
            margin-right: 15px;
        }
    }
    &__link{
        &:visited,
        &:link{
            color: $color-gary-light-1;
            background-color: $color-gary-dark-3;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
        }
        &:hover, &:active{
            color: $color-primary-dark;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
            transform: rotate(5deg) scale(1.3);
        }
    }
    &__navigation{
        border-top: 1px solid $color-gary-dark;
        padding-top: 2rem;
        display: inline-block;
    
        @include respond(tablet-port){
            width: 100%;
            text-align: center;
        }
    }

    &__copyright{
        border-top: 1px solid $color-gary-dark;
        padding-top: 2rem;
        width: 80%;
        float: right;

        @include respond(tablet-port){
            width: 100%;
            float: none;
        }
    }
}