.navigation{
    &__checkbox{
        display: none;
    }
    
    &__button{
        background-color: $color-white;
        position: fixed;
        right: 6rem;
        top: 6rem;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color-black, .7);
        text-align: center;
        cursor: pointer;

        @include respond(tablet-port){
            right: 4rem;
            top: 4rem;
        }

    }
    &__background{
        height: 6rem;
        width: 6rem;
        position: fixed;
        right: 6.5rem;
        top: 6.5rem;
        border-radius: 50%;
        z-index: 1000;
        background-image: linear-gradient($color-primary-light, $color-primary-dark);
        transition: all .8s cubic-bezier(0.86, 0, 0.07,  1);

        @include respond(tablet-port){
            right: 4.5rem;
            top: 4.5rem;
        }
    }
    &__nav{
        position: fixed;
        height: 100vh;
        width: 0;
        top: 0;
        right: 0;
        z-index: 1500;
        opacity: 0;
        transition: all .8s cubic-bezier(0.68, -0.55, 0.265,  1.55);
    }
    &__list{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        width: 100%;
    }
    &__item{
        margin: 1rem;
    }
    &__link{
        &:link, &:visited{
            font-size: 3rem;
            font-weight: 300;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            padding: 1rem 2rem;
            transition: all .4s;
            background-size: 250%;
            span{
            margin-right: 1rem;
            display: inline-block;
            }
        }
        &:hover, &:active{
            background-position: 100%;
            color: $color-primary-dark;
            transform: translateX(1rem);
        }
    }
    &__checkbox:checked ~ &__background{
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav{
        opacity: 1;
        width: 100%;
    }
    &__icon{
        position: relative;
        width: 100%;
        margin-top: 3.5rem;

        &, &::before, &::after{
            width: 3rem;
            height: 2px;
            background-color: $color-gary-dark-3;
            display: inline-block;
        }
        &::before, &::after{
            content: "";
            position: absolute;
            left: 0;
            transition: all .4s;
        }
        &::before{
            top: -0.8rem;
        }
        &::after{
            top: 0.8rem;
        }
    }
    &__button:hover &__icon::before{
        top: -1rem;
    }
    &__button:hover &__icon::after{
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon{
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before{
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after{
        top: 0;
        transform: rotate(-135deg);
    }
}