
@mixin clearfix{
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin respond ($breakpoint) { 

    @if $breakpoint == phone{
        @media (max-width: 37.5em) { @content };
    }

    
    @if $breakpoint == tablet-port {
        @media (max-width: 56.25em) { @content };
    }


    @if $breakpoint == tablet-landscape {
        @media (max-width: 75em) { @content };
    }

    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) { @content };
    }
}



