$color-primary: #55c57e;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-gary-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-gary-dark-2: #999;
$color-gary-dark-3:#333;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7330;

$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;


$color-gary-light-1:#f7f7f7;
$color-gary-light-2:#eee;

//GRID
$max-width:114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 8rem;

$gutter-vertical-small:6rem;

