.story{
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color:$color-white;
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: 1.6rem;
    transform: skewX(-12deg);
    background-color: rgba($color-white, .6);
    margin-top: 6rem;

    @include respond (tablet-port){
        width: 100% !important;
        padding: 4rem;
        padding-left: 7rem;
    }

    @include respond  (phone){
        transform: skew(0deg);
    }

    &__shape{
        width: 15rem;
        height: 15rem;
        float: left;
        shape-outside:  circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -web-clip-path: circle(50% at 50% 50%);
        transform: skewX(12deg) translateX(-3rem);
        position: relative;

        @include respond (phone){
            transform: translateX(-3rem) skewX(0deg);
        }
    }
    &__img{
        height: 100%;
        transform: translate(-4rem) scale(1.4);
        backface-visibility: hidden;
        transition: all .5s;
    }

    &:hover &__img{
        transform: translateX(-4rem) scale(1);
        filter: blur(3px);
    }
    &__caption{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -20%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }

    &:hover &__caption{
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    &__text{
        transform: skewX(12deg);

        @include respond (phone){
            transform: skewX(0deg);
        }
    }
}