*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    // font-size: 10px;
    font-size:62.5%;
    // 10/16=62.5%
        // @include respond(phone){
        //     font-size: 50%;}

            @include respond(tablet-port){
                font-size: 50%;}

                @include respond(tablet-landscape){
                    font-size: 56.25%;}

                    @include respond(big-desktop){
                        font-size: 75%;}
                }
            

body{
    box-sizing: border-box;}