.section-about {
    background-color: $color-gary-light-1;
    padding: 25rem 0;
    margin-top: -20vh;

    @include respond(tablet-port){
        padding: 20rem 0;
    }
}

.section-features {
    padding: 20rem 0;
background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8 ), rgba(40, 180, 133 ,0.8)),url("../img/nat-4.jpg");
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;

    & > *{
        transform: skewY(7deg);
    }

    @include respond(tablet-port){
        padding: 10rem 0;
    }
}

.section-tours{
    background-color: $color-gary-light-1;
    padding: 25rem 0 15rem 0;
    margin-left: -20vh;

    
    @include respond(tablet-port){
        padding: 20rem 15rem;
    }

    
    @include respond(phone){
        padding: 20rem 0;
    }
}

.section-stories{
    padding: 15rem 0;
    position: relative;

    @include respond(tablet-port){
        padding: 10rem 0;
    }
}

.section-book{
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom,($color-primary-light), ($color-primary-dark));

    @include respond(tablet-port){
        padding: 10rem 0rem;
    }
}

.book{
    background-image:linear-gradient(105deg, rgba($color-white, 0.9) 0%, rgba($color-white ,0.9) 50%, transparent 50%) ,url(../img/nat-10.jpg);
    background-size: 100%;
    border-radius: 3px;
    box-shadow:  0 1.5rem 4rem rgba($color-black, .2);

    @include respond (tablet-landscape){
        background-image: linear-gradient(105deg, rgba($color-white, .9) 0%, rgba($color-white, .9) 65%, transparent 65%), url(../img/nat-10.jpg);
        background-size: cover;
    }

    @include respond (tablet-port){
        background-image: linear-gradient(105deg, rgba($color-white, .9) 0%, rgba($color-white, .9) 100%),
        url(../img/nat-10.jpg);
        background-size: cover;
    }

    &__form{
        width: 50%;
        padding: 6rem;

        @include respond(tablet-landscape){
            width: 65%;
        }

        @include respond(tablet-port){
            width: 100%;
        }
    }
}
